//base settings
@import "vendor/normalize";
@import "base/media-queries";
@import "base/colors";
@import "base/animation";
@import "base/fonts";
@import "base/grid";
@import "base/icons";
@import "base/mixins";
@import "base/base";
@import "base/custom-shapes";
@import "base/datetime-picker";
@import "base/vars";

//theme
@import "theme/shared";
@import "theme/forms";

//views
@import "views/login-register";
@import "views/project-page";
@import "views/toolbar";
@import "views/project-header";
@import "views/job-header";
@import "views/project-summary";
@import "views/job-table-header";
@import "views/job-column-header";
@import "views/job-cell";
@import "views/job-table";
@import "views/job-table-row";
@import "views/status-circle";
@import "views/table-section-header";
@import "views/input-metric";
@import "views/input-metric-cell";
@import "views/checkbox";
@import "views/filter-base";
@import "views/select-column-filter";
@import "views/show-more-filters";
@import "views/tooltip";
@import "views/package-toolbar";
@import "views/package-page";
@import "views/package-page-header";
@import "views/modal-performance-page";
@import "views/package-deployment";
@import "views/inference-automation-model-management-table";
@import "views/model-management-details";
@import "views/define-new-modal";
@import "views/modal";
@import "views/manage-inference-modal";
@import "views/model-recalibration-modal";
@import "views/training-row";
@import "views/dashboard-timeline-page";
@import "views/system-health.scss";
@import "views/layout.scss";
@import "views/new-deployment.scss";
@import "views/model-evaluation.scss";
@import "views/timeline.scss";
@import "views/model-management.scss";
@import "views/settings.scss";
@import "views/user.scss";
@import "views/notifications.scss";
@import "views/add-user-modal.scss";
@import "views/edit-notification-modal.scss";
@import "views/new-system-health.scss";
