**/*bell*
.DS_Store
*.json
.ipynb_checkpoints
**/*.pyc
venv*
**/*.bin
**/*.config.yaml
**/*.tgz
foundations_sdk/build
foundations_sdk/dist
foundations_sdk/foundations.egg-info
foundations_sdk/src/foundations.egg-info
foundations_rest_api/build
foundations_rest_api/dist
foundations_rest_api/foundations_rest_api.egg-info
foundations_rest_api/src/foundations_rest_api.egg-info
gcp_utils/build
gcp_utils/dist
gcp_utils/foundations_gcp.egg-info
gcp_utils/src/foundations_gcp.egg-info
ssh_utils/build
ssh_utils/dist
ssh_utils/foundations_ssh.egg-info
ssh_utils/src/foundations_ssh.egg-info
aws_utils/build
aws_utils/dist
aws_utils/foundations_aws.egg-info
aws_utils/src/foundations_aws.egg-info
ui_utils/build
ui_utils/dist
ui_utils/foundations_ui.egg-info
ui_utils/src/foundations_ui.egg-info
foundations_internal/build
foundations_internal/dist
foundations_internal/foundations_internal.egg-info
foundations_internal/src/foundations_internal.egg-info
foundations_contrib/build
foundations_contrib/dist
foundations_contrib/foundations_contrib.egg-info
foundations_contrib/src/foundations_contrib.egg-info
foundations_spec/build
foundations_spec/dist
foundations_spec/foundations_spec.egg-info
foundations_spec/src/foundations_spec.egg-info
foundations_events/build
foundations_events/dist
foundations_events/foundations_events.egg-info
foundations_events/src/foundations_events.egg-info
foundations_scheduler_plugin/build
foundations_scheduler_plugin/dist
foundations_scheduler_plugin/foundations_scheduler_plugin.egg-info
foundations_scheduler_plugin/src/foundations_scheduler_plugin.egg-info
foundations_production/build
foundations_production/dist
foundations_production/foundations_production.egg-info
foundations_production/src/foundations_production.egg-info
**/node_modules
tmp
**/*.csv
foundations.zip
.vscode
**/spike*
.history
site/
**/.idea*
**/*.rdb
build
dist

!foundations_ui/package.json
!examples/example_configs/*.config.yaml
!foundations_contrib/src/foundations_contrib/resources/template/config/*.config.yaml
!**/fixtures/**/*.config.yaml
testing/test-cli-init
