**/*bell*
*.json
.ipynb_checkpoints
**/*.pyc
venv*
**/*.bin
**/*.config.yaml
**/*.tgz
vcat_sdk/build
vcat_sdk/dist
vcat_sdk/vcat.egg-info
vcat_sdk/src/vcat.egg-info
gcp_utils/build
gcp_utils/dist
gcp_utils/vcat_gcp.egg-info
gcp_utils/src/vcat_gcp.egg-info
ssh_utils/build
ssh_utils/dist
ssh_utils/vcat_ssh.egg-info
ssh_utils/src/vcat_ssh.egg-info
tmp
**/*.csv
vcat.zip
.vscode