-r ./requirements.txt
twine==1.13.0
fakeredis==1.1.0
psutil==5.6.6
Jinja2==2.11.3
mkdocs==1.3.1
mkdocs-material==4.6.3
markupsafe==2.0.1
hypothesis==4.48.1
mock==2.0.0
ghp-import==1.0.0
Faker==2.0.5
ifaddr==0.1.6
twine==1.13.0
awscli==1.16.310
setuptools_scm==3.3.3
docker-compose==1.25.5
itsdangerous==2.0.1