// Site Vars
$minimum-site-width: 860px;
$minimum-site-height: 820px;
$minimum-screen-width: 1280px;
$minimum-job-header-screen-width: 675px;

// Common Vars
$border-thin: 1px;
$margin-width: 15px;
$general-form-input-height: 30px;
$one-third-width: 33%;

// Job Table Vars
$row-height: 35px;
$table-section-width: 33.3%;
$status-cell-width: 30px;
$overview-content-margin-horizontal: 40px;
$standard-header-padding: 8px;
$standard-cell-padding: 5px;
$static-columns-border: 2px;
$static-standard-columns: 4;
$standard-cell-width: calc( 25% - (#{$standard-cell-padding} * #{$static-standard-columns} + 0.25px));
$standard-header-width: $standard-cell-width;
$standard-input-metric-cell-width: 125px;
$min-metric-param-columns-container: $standard-input-metric-cell-width * 2;
$minimum-table-width: 1600px;
$header-nav-height: 45px;
$header-control-height: 165px;
$pagination-height: 30px;
$column-header-height: 53px;
$metric-header-height: 36px;
$static-status-width: 34px;
$static-column-header-text-width: 80px;
$table-row-height: calc(100% - 2 * #{$border-thin} - #{$metric-header-height} - #{$column-header-height} - #{$pagination-height});
$table-row-height-with-headers: calc(100% - 2 * #{$border-thin} - #{$metric-header-height} - #{$pagination-height});
$row-number-height: calc(100% - #{$column-header-height} - #{$metric-header-height} - #{$pagination-height});
$number-sections: 3;
$job-header-sorting-container-width: 620px;
$job-header-sorting-container-width-small-screen: 390px;
$job-header-sorting-filter-allowed-width: 535px;
$job-header-sorting-filter-allowed-width-small-screen: 305px;

// Toolbar Vars
$toolbar-height: 25px;
$toolbar-padding: 10px;

// Filter Vars
$user-filter-left: calc((#{$standard-cell-width} * 3 ) / #{$number-sections} + #{$status-cell-width} + (#{$standard-cell-padding} * 2) - (#{$border-thin} * 7));
$user-filter-top: calc(#{$metric-header-height} + #{$column-header-height});
$status-filter-left: calc(#{$standard-cell-width} / #{$number-sections} - (#{$border-thin} * 2));
$status-filter-top: calc(#{$metric-header-height} + #{$column-header-height});
$header-filter-height: 45px;
$filter-body-height: 45px;
$duration-filter-left: calc((#{$standard-cell-width} * 2 ) / #{$number-sections} + #{$status-cell-width} + (#{$standard-cell-padding} * 2) - (#{$border-thin} * 4));
$job-id-filter-left: calc((#{$standard-cell-width} ) / #{$number-sections} + #{$status-cell-width} + (#{$standard-cell-padding} * 2) - (#{$border-thin}));
$job-id-container-width: 380px;