/*

These main styles are the globalized foundation for the theme and are often what need to be overwritten by localized changes

Use helper classes to style elements that otherwise wouldn't need to have a full declaration or that are one-off occurrences

*/

//main styles
//-----------------------------
h1,h2,h3,h4,h5,p,a,blockquote,span,div,input,textarea,select,option {
  @extend .f--din-bold;
  color: $color-font-black;
  .font-alert{
    color: $color-alert;
  }
}

.font-regular {
  @extend .f--din;
  color: $color-font-black;
  .font-alert{
    color: $color-alert;
  }
}

.font-italic {
  @extend .f--din-italic;
  color: $color-font-black;
  .font-alert{
    color: $color-alert;
  }
}

img {
  max-width: 100%;
}

input, textarea {
  font-family: FuturaBook, Arial, sans-serif !important;
  $width:  calc(100% - 1rem - 2px);//100% - padding*2 - border width*2
  max-width: $width;
  width: $width;
  padding: 0.5rem;
  border: 1px solid $color-border;
  &[type="checkbox"] {
    width: auto;
    max-width: inherit;
  }
}

button, .button {
  display: block;
  background-color: $color-button-background;
  border: none;
  text-align: center;
  font-size: 0.8rem;
  padding: 10px 25px;
  cursor: pointer;
  max-width: 100%;
  vertical-align: middle;
  color: $color-button-text;
  margin: 20px auto;
  @include transition-with-defaults(opacity);
  &:focus, &:active {
    outline: none;
  }
  &:hover:not(.disabled) {
    opacity: 0.75;
  }
  &.disabled {
    background-color: #545454;
  }
}

a {
  cursor: pointer;
  text-decoration: none;
  @include transition-with-defaults(opacity);
  &:hover {
    opacity: 0.75;
  }
}

ul {
  list-style: none;
}

hr {
  color: $color-border;
  background-color: $color-border;
}

select {
  -webkit-appearance: none !important;
  border: 1px solid $color-border;
  font-size: 0.875rem;
  border-radius: 0;
  background-image: url('data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iM3B4IiB2aWV3Qm94PSIwIDAgNiAzIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA2IDMiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwb2x5Z29uIHBvaW50cz0iNS45OTIsMCAyLjk5MiwzIC0wLjAwOCwwICIvPjwvc3ZnPg==');
  background-repeat: no-repeat;
  background-position: 95% center;
  padding: .625rem 1.5rem 0.625rem 1rem;
}

.standard-table {
  width: 100%;
  thead, tfoot {
    background: #f5f5f5;
    th, td {
      padding: 1.5rem 0.625rem;
      font-size: 0.875rem;
      font-weight: bold;
      text-align: left;
      display: table-cell;
      line-height: 1.125rem;
    }
  }
  tbody {
    tr {
      &:nth-of-type(2n){
        background: #f9f9f9;
        &.disabled-background{
          background: $color-border;
        }
      }
      td {
        display: table-cell;
        line-height: 1.125rem;
        padding: 0.5625rem 0.625rem;
        font-size: 0.875rem;
      }
    }
  }
}

.error {
  color: $color-alert;
}

.standard-form {
  label {
    display: block;
  }
  input {
    display: block;
    margin-bottom: 20px;
  }
  hr {
    margin-bottom: 15px;
  }
}

.standard-form-padding {
  padding-top: 30px;
}

.fa-anchor-container {
  display: inline-block;
  .fa {
    padding-right: 5px;
  }
}

//helper classes
//-----------------------------
.faded-out {
  display: none;
  opacity: 0;
}

.hidden {
  display: none;
}

.opaque {
  opacity: 0;
}

.horizontal-center {
  margin: 0 auto;
}

.float-left {
  float:left;
}

.float-right {
  float:right;
}

.full-width {
  width:100%;
}

.position-relative {
  position: relative;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.full-width{
  width:100%;
}

.disabled-background{
  background: $color-border;
}

//border classes
//-----------------------------
.border-top-dark-gray{
  border-top: 1px solid $color-border;
}

.border-bottom-dark-grey{
  border-bottom: 1px solid $color-border;
}

.border-left-dark-grey{
  border-left: 1px solid $color-border;
}

.border-right-dark-grey{
  border-right: 1px solid $color-border;
}

.border-none{
  border: 0 none;
}

//typography
//-----------------------------
.text-bold {
  font-weight: bold;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-upper {
  text-transform: uppercase;
}


//visibility
//-----------------------------
@include mobile {
  .hide-for-small {
    display: none;
  }
}
@include tablet {
  .hide-for-medium {
    display: none;
  }
}
@include tablet-up {
  .hide-for-medium-up {
    display: none;
  }
  .show-for-small {
    display: none;
  }
}
@include desktop {
  .hide-for-large {
    display: none;
  }
}
