.input-metric-cell-container{
    display: inline-block;
    vertical-align: middle;
    min-width: 115px;
    text-align: center;
    border-right: 1px solid $color-border-bottom;
    border-top: 1px solid $color-border-bottom;

    &:last-child {
      border-bottom: 0px;
    }
    
  p{
    margin: auto;
    background-color: $color-white;
    vertical-align: middle;
    padding-top: 7px;
    height: 26px;

    &.error {
      color: $color-status-red;
      background-color: $color-error-background;
    }
  }
}