.job-header-container{
    width: 100%;
    max-width: 100%;
    min-width: $minimum-site-width;
    height: 180px;
    background-color: $color-background;
    border-bottom: 1px solid $color-border-bottom;
    background-color: $color-background-grey;
  }

  .job-header-container-left{
    display: inline-block;
    height: 140px;
  }
  
    .job-header-logo-container{
      margin-left: 10px;
      display: inline-block;
      vertical-align: top;

      div {
        height: $header-nav-height;
        width: $header-nav-height;
        min-width: $header-nav-height;
        min-height: $header-nav-height;
        display: inline-block;
        vertical-align: top;
      }
    
      h2 {
        font-size: 21px;
        display: inline-block;
        margin-top: 10px;
        margin-left: 10px;
        vertical-align: top;
        color: $color-font-black;
      }
    }
    
    .job-header-info-container{
      display: inline-block;
      vertical-align: top;
      width: fit-content;
      margin: auto;
      white-space: nowrap;
      margin-left: 50px;

      > div {
          width: 100%;
          max-width: 100%;
          height: 50%;
          max-height: 50%;
          margin: auto;
          padding: 0px;

          display: inline-block;
          vertical-align: middle;
        
          h1 {
            text-align: center;
            display: inline-block;
            vertical-align: baseline;
            text-align: left;
            margin: 15px 0px;
          }
        
          h2 {
            text-align: center;
            display: inline-block;
            text-align: right;
          }
      }
    }

    .job-summary-info-container {
      display: inline-block;
      width: 430px;
      margin: 15px 50px;
      ul {
        width: 240px;
        padding-left: 0;
        p {
          font-size: 15px;
        }
      }
      h2{
          color: $color-dark-blue;
          margin: 0px;
      }
      p {
          margin: 0px;
          margin-top: 10px;
          margin-bottom: 10px;
          display: inline;
      }
      p:nth-of-type(2) {
          margin-top: 5px;
      }
      span{
          font-size: 12px;
      }
    }
    
    .job-header-total-projects-container{
      width: 100%;
      max-width: 100%;
      height: 50%;
      max-height: 50%;
      margin: auto;
      padding: 0px;
    }

    .deleteJobWrapper {
      float: right;
      position: absolute;
      margin-top: -82px;
      right: 44px;
      .deleteButton {
        padding: 10px;
        padding-top: 15px;
        background-color: #fff;
        color: #ff0000c2;
        border-radius: 4px;
        border: 1px solid #ff0000c2;
        width: 200px;
        box-shadow: 2px 4px 7px 0px rgba(0, 0, 0, 0.08), 2px 4px 7px 0px rgba(0, 0, 0, 0.08);
        &:hover {
          background-color: #ff0000c2;
          color: #fff;
          border: none;
        }
      }

    }

    .project-list-name {
      margin-bottom: 20px;
    }

    .job-header-sorting-container {
      vertical-align: top;
      margin-left: $overview-content-margin-horizontal;
      margin-bottom: 10px;
      width: 100%;

      > div {
        display: inline-block;
        vertical-align: top;
        max-height: 35px;
        border-bottom: $border-thin solid $color-border-bottom;
        width: $job-header-sorting-container-width;

        &:nth-of-type(2){
          margin-left: $margin-width;
          width: 121px;
          border-bottom: none;
        }

        > div {
          display: inline-block;
          vertical-align: top;
          width: $job-header-sorting-filter-allowed-width;
          height: 35px;
          min-height: 35px;
          max-height: 35px;
          margin-top: 3px;
          white-space: nowrap;
          overflow: hidden;

          > div:not(:first-child()) {
            display: inline-block;
            margin-left: 10px;
          }
        }
      }

      .bubble {
        vertical-align: top;
        border: 1px solid $color-medium-blue;
        padding: 3px;
        border-radius: 8px;
        line-height: 16px;
        height: 20px;

        &.more-bubble {
          margin: 0px;
          margin-left: 10px;
          position: relative;
          width: 65px;
          min-height: 23px;
          p {
            padding: 0px;
            padding-left: 5px;
          }
        }

        &.hidden {
          display: none;
        }

        p {
          margin: 0px;
          display: inline-block;
          vertical-align: middle;
          padding-right: $standard-cell-padding;
          padding-left: $standard-cell-padding;
        }
      }

      .more-bubble {
        margin: 3px 0px 0px 10px;
        position: relative;
        width: 72px;
        min-height: 20px;
        text-align: center;
        p {
          padding: 0px;
        }
      }
    }

    @media only screen and (max-width: $minimum-job-header-screen-width) {
      .job-header-sorting-container {
        > div {
          width: $job-header-sorting-container-width-small-screen;
          > div {
            width: $job-header-sorting-filter-allowed-width-small-screen;
          }
        }
      }
    }
