.job-list-container {
  background-color: $color-background-grey;
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-top: -65px;
}

.job-column-header-container {
  width: 100%;
}

.job-column-header {
  overflow-y: hidden;
  h4 {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 120px;
    font-size: 14px; 
  }

  i {
    display: inline-block;
    position: relative;
    outline: none;
  }

  i.i--icon-arrow-up, i.i--icon-arrow-up-unfilled {
    bottom: 26px;
    left: 10px;
  }

  i.i--icon-arrow-down, i.i--icon-arrow-down-unfilled {
    bottom: 18px;
    right: 2px;
  }
}