.project-page-container{
  background-color: $color-background-grey;
  margin: 50px;
  min-height: calc(100% - #{$footer-height} - #{$header-height} - 107px);

  h1 {
    color: #637081;
    font-size: 24px;
    margin-bottom: 25px;
  }
}

.header{
  position: fixed;
  width: 100%;
}

.project-page-container .header {
  position: absolute;
}