.support-page-container {
  min-height: calc(100% - #{$header-height} - #{$footer-height} - 1px);
  height: calc(100% - #{$header-height} - #{$footer-height} - 1px);
  box-sizing: border-box;
  overflow-y: scroll;

  .support-container {
    width: 900px;
    margin: 0 auto;
    margin-top: 50px;
    h1 {
      font-weight: 900;
      color: $color-dark-blue;
    }
    > div {
      width: 900px;
      height: 150px;
      background: $color-white;
      padding: 20px;
      padding-left: 30px;
      padding-right: 30px;
      box-sizing: border-box;
      -webkit-box-shadow: 0px 2px 9px 1px rgba(114,167,211,0.57);
      -moz-box-shadow: 0px 2px 9px 1px rgba(114,167,211,0.57);
      box-shadow: 0px 2px 10px 1px rgba(114,167,211,0.57);
      display: inline-block;
      vertical-align: top;
      margin-right: 100px;
      margin-bottom: 50px;
      border-radius: 5px;
  
      h2 {
        color: $color-dark-blue;
        margin-top: 0px;
        text-align: left;
        font-size: 24px;
        font-weight: 100;
      }
  
      p, span {
        font-size: 18px;
        line-height: 28px;
        text-align: left;
      }
  
      span {
        margin-left: 2px;
      }

      a {
        font-size: 18px;
        text-decoration: underline;
        color: $color-dark-blue;
      }
  
      > div {
        background-color: #00A778;
        width: calc(100% + 40px);
        height: 53px;
        margin-left: -20px;
        padding-top: 10px;
        margin-top: 33px;
        cursor: pointer;
        position: absolute;
        bottom: 0;
        width: 100%;
        border-radius: 0px 0px 5px 5px;
        h2 {
          color: $color-white;
          font-size: 18px;
          margin-top: 10px;
        }
      }
  
    }
  
    .underline {
      text-decoration: underline;
      cursor: pointer;
    }
  
    > div:nth-child(2) {
      > div {
        background-color: #CACACA;
        margin-top: 47px;
      }
    }
  
    > div:nth-child(3) {
      > div {
        background-color: #455890;
      }
    }

  }

}