completed_jobs:
  args:
    host: foundations-tracker
    key: completed_jobs
    port: 6379
  type: redis_connection.RedisDict
failed_jobs:
  args:
    host: foundations-tracker
    key: failed_jobs
    port: 6379
  type: redis_connection.RedisDict
queue:
  args:
    host: foundations-tracker
    key: queued_jobs
    port: 6379
  type: redis_connection.RedisList
running_jobs:
  args:
    host: foundations-tracker
    key: running_jobs
    port: 6379
  type: redis_connection.RedisDict
