label {
  @extend .f--din-pro;
  display: block;
  font-size: 14px;
  color: $color-label-text;
  margin-bottom: 4px;
}

:not(.date-time-picker) {
  input[type="text"] {
    @extend .f--din-pro;
    box-sizing: border-box;
    position: relative;
    background-color: white;
    width: 100%;
    padding: 10px 10px 10px 10px;
    font-size: 14px;
    border-radius: 0;
    border: 1px solid $color-border-bottom;
    cursor: pointer;
    height: 30px;
    outline: none;
  }
}

input[type="text"]:placeholder {
  color: $color-label-placeholder;
}

.helper-text {
  @extend .f--din-pro;
  font-size: 14px;
  color: $color-label-placeholder;
  margin-top: 4px;
  white-space: normal;
}

button.b--secondary {
  background: white;
  -webkit-appearance: none;
  border: solid 1px #dcdcdc;
  border-radius: 4px;
  width: 30px;
  height: 30px;
  outline: none;
  margin-right: 15px;
  position: relative;
  vertical-align: middle;

  &:hover {
    background-color: $color-light-blue;
    color: white;
    border: solid 1px transparent;

    .i--icon-pencil-grey {
      background-image: url("../assets/images/icons/icon-pencil-white.svg");
    }
  }

  &.red:hover {
    background-color: $color-status-red;
    border: none;

    .close:before,
    .close:after {
      background-color: white;
    }
  }

  &.green:hover {
    background-color: $color-status-green;
    border: none;

    .checkmark {
      border-bottom: 2px solid white;
      border-right: 2px solid white;
    }
  }

  &:disabled {
    background: #f7f7f7;
    &:hover {
      background: #f7f7f7;
      color: $color-border-bottom;
      border: solid 1px #dcdcdc;
    }
  }
}

button.b--secondary-text {
  @extend .f--din-pro-bold;
  background: white;
  vertical-align: middle;
  -webkit-appearance: none;
  border: solid 1px #dcdcdc;
  border-radius: 4px;
  height: 30px;
  outline: none;
  margin-right: 15px;
  position: relative;
  color: $color-border-bottom;
  text-transform: uppercase;
  font-size: 12px;
  padding: 0px 15px;

  &.active {
    background-color: $color-light-blue;
    color: white;
    border: solid 1px transparent;

    .up {
      position: absolute;
      margin-top: 5px;
    }

    i {
      border-color: white;
    }

    span {
      color: white;
    }
  }

  &:hover {
    background-color: $color-light-blue;
    color: white;
    border: solid 1px transparent;

    i {
      border-color: white;
    }

    span {
      color: white;
    }
  }

  span {
    @extend .f--din-pro-bold;
    color: $color-border-bottom;
    text-transform: uppercase;
    font-size: 12px;
    margin-left: 15px;
  }

  .down {
    margin-top: 1px;
  }

  &:disabled {
    background: #f7f7f7;
    &:hover {
      background: #f7f7f7;
      color: $color-border-bottom;
      border: solid 1px #dcdcdc;
    }
  }
}

button.b--mat {
  @extend .f--din-pro-bold;
  margin-right: $margin-width;
  overflow: hidden;
  border-width: 0;
  outline: none;
  width: auto;
  padding: 10px 15px;
  height: 30px;
  line-height: 10px;
  letter-spacing: normal;
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  color: white;
}

button.b--mat.b--affirmative {
  background-color: $color-light-blue;
}

button.b--mat.b--affirmative:hover {
  background-color: $color-hover-blue;
}

button.b--mat.b--affirmative:active {
  background-color: $color-active-blue;
}

button.b--mat.b--disabled.b--affirmative {
  background-color: $color-border-bottom;
  color: $color-white;
}

button.b--mat.b--negation {
  background-color: $color-negation-blue;
}

button.b--mat.b--negation:hover {
  background-color: $color-negation-blue-hover;
}

button.b--mat.b--negation:active {
  background-color: $color-negation-blue-active;
}

select {
  -webkit-appearance: none !important;
  border: 1px solid $color-border;
  font-size: 0.875rem;
  border-radius: 0;
  background-image: url("data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iM3B4IiB2aWV3Qm94PSIwIDAgNiAzIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA2IDMiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwb2x5Z29uIHBvaW50cz0iNS45OTIsMCAyLjk5MiwzIC0wLjAwOCwwICIvPjwvc3ZnPg==");
  background-repeat: no-repeat;
  background-position: 95% center;
  padding: 0.625rem 1.5rem 0.625rem 1rem;
}

.standard-form {
  label {
    display: block;
  }
  input {
    display: block;
    margin-bottom: 20px;
  }
  hr {
    margin-bottom: 15px;
  }
}

.standard-form-padding {
  padding-top: 30px;
}
