{% extends "base.html" %}

{% block htmltitle %}
  <title>Foundations Atlas</title>
{% endblock %}

{% block content %}


<!--
    Hack: check whether the content contains a h1 headline. If it
    doesn't, the page title (or respectively site name) is used
    as the main headline.
-->
{% if not "\x3ch1" in page.content %}
    <h1>{{ page.title | default(config.site_name, true)}}</h1>
{% endif %}

<!-- Content -->
{{ page.content }}

<!-- Source files -->
{% block source %}
    {% if page and page.meta and page.meta.source %}
    <h2 id="__source">{{ lang.t("meta.source") }}</h2>
    {% set repo = config.repo_url %}
    {% if repo | last == "/" %}
        {% set repo = repo[:-1] %}
    {% endif %}
    {% set path = page.meta.path | default([""]) %}
    {% set file = page.meta.source %}
    <a href="{{ [repo, path, file] | join('/') }}"
        title="{{ file }}" class="md-source-file">
        {{ file }}
    </a>
    {% endif %}
{% endblock %}
{% endblock %}
